/* html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} */

.w-72 {
  width: 18rem;
}

.w-80 {
  width: 20rem;
}

.btnicon:hover {
  cursor: pointer;
  color: #f7fafc;
}

.esri-popup__actions {
  display: none !important;
}

.esri-component {
  z-index: 100 !important;
}

.startTravelButton:disabled {
  color: #f7fafc;
  background-color: #2d3748;
  cursor: default;
}

.findRoutesButton:disabled {
  color: #f7fafc;
  background-color: #2d3748;
  cursor: default;
}

.simulationButton:hover {
  cursor: pointer;
  color: #f7fafc;
}

.simulationButton:disabled {
  color: #4a5568;
  cursor: default;
  pointer-events: none;
}

.resetButton:disabled {
  color: #f7fafc;
  background-color: #2d3748;
  cursor: default;
}
